@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<img src="/images/welcome.png" id="img_welcome" />

<div id="lr_welcome">
    <p>Lorem ipsum dolor sit amet. Eum omnis facere et itaque distinctio aut sequi assumenda in sapiente suscipit et architecto rerum qui quia facere. Ab ducimus ipsa et ipsa atque ut omnis culpa rem quis omnis! Est quia quibusdam vel accusamus blanditiis aut eveniet omnis ut facere veniam qui quos sequi quo nihil fugiat aut harum iusto? </p>
    <p>Est praesentium optio qui velit dolorem et dicta laboriosam est corrupti commodi et quia vitae. Quo consequatur quam qui nemo mollitia sit similique recusandae sed iusto dolorem ad quia praesentium eos Quis rerum. Est dicta corporis aut dolorem laudantium qui dolorem veritatis est tempore omnis cum provident recusandae. Sit vitae expedita quo eligendi autem est voluptate tenetur ea sunt mollitia. </p>
    <p>Ut blanditiis voluptate non accusantium unde id odio sunt vel assumenda aperiam eos quisquam corporis et aspernatur doloremque. Et nobis quis aut alias dolorem sed recusandae voluptas? </p>
    <img src="/images/logo2black.png" style="width:90%" />
</div>