@model Farmacie.Models.Command

<a class="btn buttonmaro bi bi-arrow-left rounded-pill mb-5" href="/Commands/Index">Inapoi</a>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Farmacist"))
    {
        @*<a class="btn buttonverde1" href="/Commands/ChangeStatus/@Model.Id">Status</a>*@
        @if(Model.Status != "ACCEPTED")
                {
                    <form method="post" action="/Commands/ChangeStatus/@Model.Id">
                        <button class="btn buttonverde1" type="submit">Accepta comanda</button>
                    </form>
                }
    }
</div>
<br />

<div>
    <div>
        <div class="card col-12 mb-6" style="background-color: #45625d; color: #a3d2d5; padding-left: 2%; padding-top: 2%;">
            @Html.Partial("CommandInfo", Model)
        </div>

        <br />

        <div class="row">
            @try
            {   
                @foreach (var medicamentCommand in Model.MedicamentCommands)
                {
                    <div class="col-4 mb-4">
                        <div class="card" style="height: 100%; width: 100%; background-color: #a3d2d5;">
                            <div class="card-body d-flex justify-content-between flex-column">
                                <p>Nume medicament: @medicamentCommand.MedicamentName</p>
                                <p>Cantitate dorita: @medicamentCommand.QuantityWanted</p>
                            </div>
                            <a class="btn buttondeep" href="/Medicaments/Show/@medicamentCommand.MedicamentId">Detalii</a>
                        </div>
                    </div>
                }
             }
             catch (NullReferenceException e)
             {
                    <p><strong>Nu exista inca medicamente selectate!</strong></p>
             }

        </div>

        @if (ViewBag.UserCurent == Model.UserId && Model.Status != "ACCEPTED")
         {
            <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

                <a class="btn buttonsheen" href="/Medicaments/Index">Selectati medicamente</a>

                <a class="btn buttonsheen" href="/Commands/Edit/@Model.Id">Editati</a>

                <form method="post" action="/Commands/Delete/@Model.Id">
                    <button class="btn buttondeep" type="submit">Sterge</button>
                </form>

            </div>
         }

    </div>
</div>