@model Farmacie.Models.Medicament

<a class="btn buttonmaro bi bi-arrow-left rounded-pill mb-5" href="/Medicaments/Index">Inapoi</a>

<br />

<div>
    <img src="/images/pill.png" style="height: 400px; float:right; padding-right: 5%;" />
    <div class="card col-8 mb-6" style="background-color: #45625d; color: #a3d2d5; padding-left: 2%; padding-top: 2%;">
        @Html.Partial("MedicamentInfo", Model)
    </div>
    
    <br />

    <form method="POST" asp-controller="Medicaments" asp-action="AddCommand">
        <input type="hidden" name="MedicamentId" value="@Model.Id" />
        <div class="card col-8 mb-6 d-flex flex-row justify-content-center p-3 border-1 border-top rounded-pill mb5" style="background-color:#a3d2d5">
            <div>
                <select name="CommandId" class="form-control">
                    <option selected>Adauga acest medicament la comanda</option>
                    @foreach (var com in ViewBag.UserCommands)
                    {
                        <option name="CommandId" value="@com.Id">@com.Name</option>
                    }
                </select>
            </div>
            <div>
                <input class="form-control" type="number" name="QuantityWanted" value="1" />
            </div>
            <div>
                <input type="submit" class="btn buttonsheen" value="+" />
            </div>
        </div>
    </form>


    @if (ViewBag.AfisareButoane == true)
    {
        <div class="col-8 mb-6 d-flex flex-row justify-content-between p-3">

            <a class="btn buttonsheen" href="/Medicaments/Edit/@Model.Id">Editeaza medicamentul</a>

            <form method="post" action="/Medicaments/Delete/@Model.Id">

                <button class="btn buttondeep" type="submit">Sterge medicamentul</button>

            </form>

        </div>
    }
    <br />

</div>